[Desktop Entry]
Name=Almoxarifado-Dev
Comment=Gerenciamento de Estoque Metal Print
Exec=python3 /home/kyraxz/Almoxarifado/almoxarifado-gui.py
Icon=/home/kyraxz/Almoxarifado/logo.png
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=estoque;almoxarifado;metal;print;
Path=/home/kyraxz/Almoxarifado
